%p
  Technical demo to take screenshot of any URL, powered by
  %a{href: 'https://github.com/thoughtbot/capybara-webkit'} Webkit
  and
  %a{href: 'http://ruby-lang.org/'} Ruby.
  Blinky API (URL pattern) compat with old service (MozShot) currently.

%p
  Currently, no documentation except
  %a{href: url('/usage')} really simple usage.
  However, 
  %a{href: 'http://github.com/sugi/blinky'}
    all source code has provided under ruby lisence.
  You can refer and modifiy this source freely.

%form{action: url('/show')}
  %input{type: "text", name: "uri", id: "param_uri", value: u(@uri), placeholder: 'Input URL (e.g. http://ruby-lang.org)'}<
  %input{type: "submit", id: "submit", value: "Take ScreenShot"}>
