<p>
Technical demo to take screenshot of any URL, powered by Mozilla and Ruby.
</p>

<p>
Currently, no documentation except
<a href="<%=h @shotbase %>">really simple usage</a>.
However, 
<a href="http://github.com/sugi/mozshot">
all source code has provided under ruby lisence</a>.
You can refer and modifiy this source freely.
</p>

<form action="<%=h @self_url %>">
<input type="text" name="uri" size="80" id="param_uri" value="<%=h @uri %>">
<input type="hidden" name="action" value="show" id="submit">
<input type="submit" value="Take ScreenShot">
</form>
