!!!
%html
  %head
    %title Blinky
    %link{href: "default.css", rel: "stylesheet", type: "text/css"}
  %body
    %h1
      Blinky
      %small - Web thumbnail service with Ruby and Webkit
    = yield
