!!!
%html
  %head
    %title WebShot
    %link{href: "default.css", rel: "stylesheet", type: "text/css"}
  %body
    %h1
      WebShot
      %small - Web thumbnail service with Ruby and Webkit
    = yield
